.centerblock {
    width: 70%;
    margin: 0 auto;
}

.titletext {
    font-size: 32px;
}

.subtitletext {
    font-size: 25px;
}

a {
    display: block;
}

.tinytext {
    font-size: 10px;
}

.pgpkey {
    white-space: pre;
    background-color: #222222;
    font-family: monospace;
    color: #00FF00;
}

.fractalimage {
    transform: scale(0.7);
}

.fractalcontainer {
    z-index: -10;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateY(-300px) translateX(-450px) rotate(0.9turn);
}