.centerblock {
    width: 70%;
    margin: 0 auto;
}

.titletext {
    font-size: 32px;
}

.subtitletext {
    font-size: 25px;
}

a {
    display: block;
}

.tinytext {
    font-size: 10px;
}

.pgpkey {
    white-space: pre;
    background-color: #555555;
    font-family: monospace;
    color: #00FF00;
}