body {
    font-family: sans-serif;
    max-width: 35em;
    margin: 0 auto;
}

.tinytext {
    font-size: 0.6em;
}

pre.pgpkey {
    text-align: center;
    background-color: #222222;
    color: #00FF00;
    padding: 1em;
    width: 100%;
}

.fractalimage {
    transform: scale(0.7);
}

.fractalcontainer {
    z-index: -10;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-300px) translateX(-450px) rotate(0.9turn);
}

pre.haskell {
    tab-size: 4
}
