@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

body, h1, h2, h3 {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}

#main {
	width: 900px;
	margin: 0 auto;
}

#titleContainer { 
	text-align: center;
}

#titleBox {
	display: inline-block;
}

#gameTitle {
	text-align: left;
	color: #555555;
	margin-bottom: -5px;
	font-weight: bold;
}

#gameSubtitle {
	margin-top: 0px;
	color: #FF7930;
	font-weight: normal;
}

/* unit conversion table style */
table {
	border: 2px solid black;
	font-family: monospace;
}

tr, td, th {
	border: 1px solid black;
}