<footer class="site-footer h-card">
  <div style="margin:40px 0" class="fancy"></div>

  <h2 class="footer-title">
    This blog is powered by raw energy harnessed via the <span class="funny">block chains</span>.
  </h2>


  <p class="footer-meta">
    To leave a comment on a blog post, please send a message to one of my accounts below. Make sure to write what post you're commenting on, and if you give me permission I'll add it into a comments section on the page.
  </p>
  <div style="margin:0 auto;text-align:center;" class="footer-meta">
    <a href="https://github.com/DataKinds">github</a> / 
    <a href="https://discord.com/users/80888203774533632">discord: @at</a> / 
    email: t࿔*:･slimk⋆.ೃ࿔*:･eman✮˚.⋆n42+blog@gma. ݁₊ ⊹ . ݁ ⟡ ݁ . ⊹ ₊ ݁.il.com
  </div>
  <p class="footer-meta">
    Also, I run a discord server called <a class="page-link" href="https://discord.gg/SJbHqWH">PLT & More</a>. It's programming language centric, with spaces to talk math and other nerdy topics. Join if you'd like to hang out and talk about the impending collapse of the global supply chain. And programming languages. Or conlanging? We've got it all.
  </p>

  <div style="margin:0 auto;text-align:center;" class="handwritten-small">
    check it out Ma, I'm on a website! v2 theme by me, dated to July 2024. <br>
    You sicken me! Unless you play a game from my 2026 top list: <br>
    League of Legends, Deadlock, Brotato (damn, it's still that good), Mars First Logistics, Powder Toy
    And here's my 2024 list if you're curious: <br>
    Zeepkist, Trackmania, Noita, Parking Garage Rally Circuit, Pseudoregalia, Brotato, vivid / stasis
  </div>
</footer>
