<footer class="site-footer h-card">
  <div style="margin:5px 0" class="fancy"></div>

  <h2 class="footer-title">
    This blog is powered by raw energy harnessed via the block chains. It is hosted serverlessly, directly in the aether permeating our reality.
  </h2>


  <div class="footer-col-wrapper">
    <div class="footer-col" style="text-indent: 4em;">
      <a class="page-link" href="https://discord.gg/SJbHqWH">Link to PLT & More</a>. Join if you'd like to hang out and talk about the impending collapse of the global supply chain. And programming languages. Or conlanging? We've got it all.
    </div>
    <div class="footer-col" style="text-indent: 4em;">
      To leave a comment on a blog post, please send a DM to my discord or twitter accounts below. Make sure to write what post you're commenting on, and if you give me permission I'll add it into a comments section on the page.
    </div>
    <div class="footer-col">
      {%- include social.html -%}
    </div>

</footer>
