<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">


    <h2 class="footer-heading">Contact Info</h2>


    <div class="footer-col-wrapper">
      <div class="footer-col">
		    To leave a comment, please send an email to the email address below. Make sure to write what post you're commenting on, and if you give me permission I'll add it into a comments section on the page.
      </div>
      <div class="footer-col">
        {%- include social.html -%}
      </div>
  </div>

</footer>
