<nav class="inline-block sitemap-box">
  <span style="position:absolute;top:5px;right:0px;" class="handwritten">other places you may visit include...</span>
  <dl class="sitemap">
    <dt>
      <a class="site-navlink" href="/blog/">
        <h2 class="inline-block">the blog</h2>
      </a>
    </dt>
    <dd>
      <a class="site-sublink" href="/toki-pona/">
        <h2 class="inline-block">{{ site.nimi }}</h2>
      </a>
    </dd>
    <dd>
      <a class="site-sublink" href="/tags/">
        <h2 class="inline-block">browse by tag</h2>
      </a>
    </dd>
    <dd>
      <a class="site-sublink" rel="external" target="__blank" href="https://scp-wiki.wikidot.com/random:random-scp">
        <h2 class="inline-block">random scp</h2>
      </a>
    </dd>
    <dt>
      <a class="site-navlink" href="/">
        <h2 class="inline-block">the landing page</h2>
      </a>
    </dt>
    <dt>
      <a class="site-navlink" href="/portfolio/">
        <h2 class="inline-block">the portfolio</h2>
      </a>
    </dt>

    <div class="vertical-fancy"></div>
  </dl>
</nav>

