@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Playwrite+US+Trad:wght@100..400&display=swap');

* {
    font-family: "Neuton", serif;
}

h1 {
    font-weight: 800;
}

html {
    background-color: rgb(21, 21, 32);
    color: rgb(245, 247, 236);
}

body {
    margin-left: 40px;
    margin-right: 40px;
}

.inline-block {
    display: inline-block;
}

.handwritten {
    font-family: "Playwrite US Trad", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    white-space: nowrap;
}

.site-title {
    text-decoration: none;
    color: unset;
    filter: drop-shadow(0 0 0.75rem rgb(255, 88, 122));
}

.site-subtitle {
    text-decoration: none;
    color: unset;
    filter: drop-shadow(0 0 0.75rem rgb(133, 245, 255));
}

.post-link {
    text-decoration: none;
    color: rgb(252, 255, 180);
    font-weight: 700;
    font-size: large;
    filter: drop-shadow(0 0 0.1rem rgb(255, 255, 225));
}

.fancy {
    background-image: url(/assets/cute.svg);
    filter: invert(100%);
    background-size: 20px;
    background-repeat: repeat-x;
    width: 100%;
    height: 10px;
}

.flex {
    display: flex;
    align-items: center
}

.justify-around {
    justify-content: space-around;
}

@counter-style sparkles {
    system: cyclic;
    suffix: "  ";
    symbols: "₊˚." "✨" "🌟" "❇️" "💥" "🌠" "✩" "⋆☾⋆" "⁺₊✧" "🎆" "🔆" "💎" "💖" "🎇"
}

ul.post-list {
    list-style: sparkles;
}

.post-preview {
    font-size: small;
    margin: 0 3em;
}