@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Playwrite+US+Trad:wght@100..400&display=swap');
@import 'prism-highlighter.scss';

$smallscreen: 800px;

:root {
    --background: #412d39;
    --backdrop: #1d141e;
    --accent: #ff7a64;
    --muted: #bc8faf;
    --whiite: #e5e8ef;
}

@mixin responsive-border($thick-border, $thin-border) {
    @media screen and (max-width: $smallscreen) {
        margin-left: $thin-border;
        margin-right: $thin-border;
    }
    margin-left: $thick-border;
    margin-right: $thick-border;
}


pre {
    font-family: unset;
}

h1 {
    font-weight: 800;
}

html {
    background-color: var(--backdrop);
    color: var(--whiite);
    font-family: "Neuton", serif;
    font-size: larger;
}

.page-content {
    @include responsive-border(40px, 0);
}

blockquote {
    margin: 0 0;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 8px double var(--accent);
}

a {
    text-decoration: underline wavy;
    color: var(--accent);
}
a:visited {
    color: var(--muted);
}

p > img {
    max-width: 100%;
}

.fancy {
    background-image: url(/assets/cute.svg);
    filter: invert(100%);
    background-size: 20px;
    background-repeat: repeat-x;
    width: 100%;
    height: 10px;
}

.flex {
    display: flex;
    align-items: center
}

.big-flex {
    flex-grow: 1;
}

.justify-around {
    justify-content: space-around;
}


.inline-block {
    display: inline-block;
}

.handwritten {
    font-family: "Playwrite US Trad", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: medium;
    font-style: normal;
    white-space: nowrap;
}

.handwritten-small {
    font-family: "Playwrite US Trad", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    color: rgb(204, 204, 204);
}

.site-header {
    @include responsive-border(40px, 10px); 
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media screen and (max-width: $smallscreen) {
        display: block;
        margin-top: 1.0em;
        // flex-wrap: wrap;
        // justify-content: space-around;
    }
}

.site-header > .bottom.fancy {
    display: none;
}
@media screen and (max-width: $smallscreen) {
    .site-titlebox {
        width: 100%;
    }
    .site-header > .fancy {
        display: none;
    }
    .site-header > .bottom.fancy {
        display: block;
    }
    .sitemap-box {
        width: 100%;
    }
}

.site-titlebox {
    position: relative;
}

.site-title {
    text-decoration: none;
    color: white !important;
}

.site-title > .handwritten {
    position: absolute;
    top: -1em;
}

.site-title > h1 {
    font-size: 44px;
    margin: 0;
    white-space: nowrap;
    transform: translateX(25%) scale(1.5, 1);
    filter: drop-shadow(4px 3px 0 var(--accent));
    @media screen and (max-width: $smallscreen) {
        font-size: 30px;
        transform: translateX(50%) scale(2, 1);
    }
}

.sitemap-box {
    position: relative;
    padding-top: 4px;
    align-self: top;
}

.sitemap {
    list-style-type: none;
    text-align: right;
    line-height: 0.9;
    margin-top: 1.5em;
}

.site-subtitle {
    text-decoration: none;
    color: var(--whiite) !important;
    white-space: nowrap;
    margin: 0 4px;
}

.site-subtitle > h2 {
    margin: 0;
    font-weight: normal;
}

.post-link {
    text-decoration: none;
    font-weight: 700;
    font-size: larger;
}

.post-title {
    text-decoration: none;
    color: unset;
    font-weight: 700;
    filter: drop-shadow(2px 2px 1px var(--accent));
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 40px;
}

.post-subheader {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.post-subheader > a {
    text-decoration: none;
    color: var(--whiite);
}

.post-content {
    margin: 0 auto;
    margin-bottom: 10px;
    max-width: 60em;
    padding: 15px 2vw;
    border-radius: 10px;
    background-color: var(--background);
}

.post-content > p:first-of-type::first-letter {
    font-family: "Playwrite US Trad", cursive;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-size: 30px;
    font-style: normal;
    line-height: 0;
}

.footer-title {
    margin: 0 10px;
}

.footer-title > .funny {
    font-size: larger;
    filter: drop-shadow(2px 2px 0px var(--accent)) drop-shadow(-3px -2px 0px var(--muted));
}

.footer-meta {
    margin-left: 2em;
}
@counter-style sparkles {
    system: cyclic;
    suffix: "  ";
    symbols: "₊˚." "✨" "🌟" "❇️" "💥" "🌠" "✩" "⋆☾⋆" "⁺₊✧" "🎆" "🔆" "💎" "💖" "🎇"
}

ul.post-list {
    list-style: sparkles;
}

:is(.post-list-heading, .page-heading) {
    margin-top: 0px;
    margin-bottom: 5px;
}

.post-preview {
    font-size: medium;
    margin: 0 1em;
}

@mixin banner {
    padding: 8px;
    border-radius: 10px;
    border-width: thick;
    border-style: double;
}

.big-banner {
    @include banner;
    border-color: #32a1ce;
    background-color: #cce7f1;
    color: rgb(31, 35, 38);
}

.warning-banner {
    @include banner;
    border-color: #d95e35;
    background-color: #aa5338;
    margin-bottom: 10px;
}

.info-banner {
    @include banner;
    border-color: #207839;
    background-color: #a0e7a3;
    margin-bottom: 10px;
    color: rgb(31, 35, 38);
}

.banners {
    margin-bottom: 10px;
}
