---
layout: default
---

<article
  class="post h-entry"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <header class="post-subheader">
    <a href="{{ page.url }}">
      <h2 class="post-title p-name" itemprop="name headline">
        {{ page.title | escape }}
      </h2>
    </a>
    <div class="post-meta">
      <time
        class="handwritten dt-published"
        style="white-space:wrap"
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
      >
        {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}
        ... composed for your pleasure on <strong>{{ page.date | date: date_format }}</strong>
      </time>
    </div>

    {%- if page.tags.size > 0 -%}
      <div class="post-meta handwritten" style="white-space:wrap">... tagged&nbsp;
        {%- for tag in page.tags -%}
          <a style="text-decoration:none" href="/tags/#{{ tag | slugify }}"><strong>{{ tag }}</strong></a>
          {%- unless forloop.last -%},&nbsp;{%- endunless -%}
        {%- endfor -%}
      </div>
    {%- else -%}
      <div class="post-meta handwritten">... no tags :3</div>
    {%- endif -%}

    {%- if page.category -%}
    <span class="p-author h-card">Category: {{ page.category }}</span>
    {%- endif -%} 
    {%- if page.author -%} •
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span class="p-author h-card" itemprop="name">
          {{ page.author }}
        </span>
      </span>
    {%- endif -%}
  </header>

  <div class="banners">
    {%- if page.warning_banner -%}
      <div class="warning-banner flex">
        <div style="font-size:40px">🚨</div>
        <div class="warning-banner-content big-flex">
          <strong>{{ page.warning_banner }}</strong>
        </div>
      </div>
    {%- endif -%}
    {%- if page.info_banner -%}
      <div class="info-banner flex">
        <div style="font-size:40px">ℹ️</div>
        <div class="info-banner-content big-flex">
          <strong>{{ page.info_banner | markdownify }}</strong>
        </div>
      </div>
    {%- endif -%}
    <div class="big-banner flex">
      <div style="font-size:40px">🚨</div>
      <strong class="big-flex">the banner says: trans rights!</strong>
    </div>
  </div>

  <div class="post-content e-content" itemprop="articleBody">{% include anchor_headings.html html=content anchorBody="#" anchorClass="post-header-anchor" %}</div>

  {%- if site.disqus.shortname -%} {%- include disqus_comments.html -%} {%-
  endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
